/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #09170c !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c1c5c2; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c1c5c2; background-color: rgba(191,181,173,0.4)}
.cm-s-nqqwal { background-color: #09170c; color: #c1c5c2; }
.cm-s-nqqwal span.cm-builtin { color: #C88B73; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #596d5d; }
.cm-s-nqqwal span.cm-keyword { color: #286C8E; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #BE6B8A; }
.cm-s-nqqwal span.cm-def { color: #54ABA9; }
.cm-s-nqqwal span.cm-variable { color: #BFB5AD; }
.cm-s-nqqwal span.cm-variable-2 { color: #54ABA9; }
.cm-s-nqqwal span.cm-string { color: #C88B73; }
.cm-s-nqqwal span.cm-string-2 { color: #C88B73; }
.cm-s-nqqwal span.cm-number { color: #54ABA9; }
.cm-s-nqqwal span.cm-tag { color: #286C8E; }
.cm-s-nqqwal span.cm-property { color: #BFB5AD; }
.cm-s-nqqwal span.cm-attribute { color: #BFB5AD; }
.cm-s-nqqwal span.cm-qualifier { color: #BE6B8A; }
.cm-s-nqqwal span.cm-meta { color: #54ABA9; }
.cm-s-nqqwal span.cm-header { color: #286C8E; }
.cm-s-nqqwal span.cm-operator { color: #286C8E; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(84,171,169,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #286C8E; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #09170c); }
