#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#302425",
    floating_border_color: "#DFD5DE",
    focused_border_color: "#cbc8c8",
    background_color: "#302425",
)