[Desktop Entry]
Name=Blue
Comment=Bluetuith
Exec=kitty bluetuith
Terminal=True
Type=Application
Icon=/home/eris/.icons/bluetooth.png
Categories=Appication;
