[Desktop Entry]
Name=Blue
Comment=Bluetuith
Exec=hyprctl dispatch exec "[center; size 685 613; float] kitty bluetuith"
Terminal=True
Type=Application
Icon=/home/eris/.icons/bluetooth.png
Categories=Network;
