[Desktop Entry]
Name=Chatgpt
Comment=Open Chatgpt in new window
Exec=firefox --new-window chatgpt.com
Terminal=false
Icon=/home/eris/.icons/gpt.png
Type=Application
