[Desktop Entry]
Name=Umamusume: Pretty Derby
Comment=Play this game on Steam
Exec=steam steam://rungameid/3224770
Icon=steam_icon_3224770
Terminal=false
Type=Application
Categories=Game;
